#box{
	float: left;
	background: green;
	height:100px;
	width: 10px;
	//animation-name: grow;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes grow{
	0%{
		background: green;
		width:10px;
		float: left;
	}
	50%{
		background: cyan;
		width: 1300px;
	}
	100%{
		background: green;
		width: 10px;
		float: right;
	}
}

#zoom{
	width: 50px;
	height: 50px;
	background: red;
	position: relative;
	//animation-name: moveAround;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes moveAround{
	0%{left:0px; top: 0px;}
	25%{left: 200px; top: 0px;}
	50%{left: 200px; top: 200px;}
	75%{left: 0px; top: 200px;}
	100%{left: 0px; top: 0px;}
}

#beachBall{
	background-image: url(hi.png);
	width:120px;
	height: 121px;
	animation-name: spin;
	animation-duration: 0.25s;
	animation-iteration-count: infinite;
}
@keyframes spin{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(90deg);}
	50%{transform: rotate(180deg);}
	75%{transform: rotate(270deg);}
	100%{transform: rotate(360deg);}
}